*{
  background-color: black;
  color: white;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width :80vw;
  margin:auto;

}
.card{
  width: 300px;
  height: 300px;
  border:2px solid white;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  transition: all 0.5s
}
.card:hover{
  cursor: pointer;
  background-color:white;
  border-color: red;
  color: black;
}